In [1]:
from get_results import getResults
from datetime import date, timedelta
import pandas as pd

In [2]:
df = pd.read_csv('predictions.csv')

In [3]:
df

,Date,Home Team,Away Team,X Home Goals,X Away Goals,X Home Spread,X Winner
0,2024-03-14,Buffalo Sabres,New York Islanders,3.47,3.78,-0.31,New York Islanders
1,2024-03-14,Carolina Hurricanes,Florida Panthers,3.24,3.40,-0.16,Florida Panthers
2,2024-03-14,Columbus Blue Jackets,Ottawa Senators,3.45,3.05,0.40,Columbus Blue Jackets
3,2024-03-14,Detroit Red Wings,Arizona Coyotes,3.64,3.74,-0.10,Arizona Coyotes
4,2024-03-14,Montreal Canadiens,Boston Bruins,3.57,3.64,-0.07,Boston Bruins
5,2024-03-14,Pittsburgh Penguins,San Jose Sharks,3.39,3.66,-0.27,San Jose Sharks
6,2024-03-14,Tampa Bay Lightning,New York Rangers,3.47,3.81,-0.34,New York Rangers
7,2024-03-14,Philadelphia Flyers,Toronto Maple Leafs,2.81,4.08,-1.27,Toronto Maple Leafs
8,2024-03-14,Dallas Stars,New Jersey Devils,3.85,3.52,0.33,Dallas Stars
9,2024-03-14,Minnesota Wild,Anaheim Ducks,3.77,3.48,0.29,Minnesota Wild
10,2024-03-14,Calgary Flames,Vegas Golden Knights,3.62,3.70,-0.08,Vegas Golden Knights
11,2024-03-14,Seattle Kraken,Washington Capitals,3.51,3.75,-0.24,Washington Capitals

In [4]:
ystd = str(date.today() - timedelta(days=1))
ystd = ''.join(ystd.split('-'))
scoresDF = getResults(ystd)

In [5]:
scoresDF

         Date   Home Team Away Team Home Goals Away Goals Winner
0  2024-03-15        Jets     Ducks          6          0   Jets
1  2024-03-15  Blackhawks     Kings          0          5  Kings

In [6]:
# Initialize an empty list to store the matched rows
matched_rows = []

# Iterate over the rows of results
for index, row in scoresDF.iterrows():
    # to filter by
    date_value = str(row['Date'])
    partial_string = row['Home Team']
    # to include in result
    home_goals = row['Home Goals']
    away_goals = row['Away Goals']
    winner = row['Winner']

    matched_df_rows = df[(df['Date'] == date_value) & (df['Home Team'].str.contains(partial_string))]
    # If there are matches, add them to the list
    if not matched_df_rows.empty:
        for _, matched_row in matched_df_rows.iterrows():
            # Add the matched row from df1 and the corresponding row from df2 to the list
            matched_rows.append(matched_row.tolist() + [home_goals, away_goals, winner])

matched_rows

[]

In [7]:
# Create a DataFrame from the matched rows
merged_df = pd.DataFrame(matched_rows, columns=list(df.columns) + ['Home Goals', 'Away Goals', 'Winner'])
merged_df

Empty DataFrame
Columns: [Date, Home Team, Away Team, X Home Goals, X Away Goals, X Home Spread, X Winner, Home Goals, Away Goals, Winner]
Index: []

In [8]:
# Write today's predictions to csv
f = open("record.csv", 'a')

for col in merged_df.values:
    for i, row in enumerate(col):
        f.write(str(row))
        if i != len(col) - 1:
            f.write(",")
    f.write("\n")

f.close()